.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.5rem;
  color: #555;
  font-weight: bold;
}

.input {
  padding: 0.6rem;
  margin-bottom: 1.2rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.button {
  padding: 0.7rem;
  font-size: large;
  font-weight: bold;
  background-color: #6b3e26; /* tono café */
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: #4e2f1b;
}

.message {
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
}
